body {
    margin: 10px;
    background-color: #181719;
    color: white;
    min-height: 98vh;
    position: relative;
}

.bodyblockScroll {
    overflow: hidden;
}

.header-main {
    position: relative;
    display: flex;
    /* border: 1px solid white; */
    justify-content: space-between;
    align-items: center;
}

.header-main__title {
    font-family: Crimson Pro;
    font-size: 16px;
    width: 103px;
    height: 31px;
    text-align: center;
    border: 1px solid white;
    display: grid;
    align-items: center;
    font-weight: 200;
    text-transform: uppercase;
    padding: 1px;
}

.togle {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 35px;
    height: auto;
    margin-right: 5px;
    overflow: hidden;
}

.togle_line {
    z-index: 100;
    margin: 3px;
    background-color: white;
    Height: 3px;
    transition: all 0.5s ease;
}

.toggle-active .togle_line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.toggle-active .togle_line:nth-child(2) {
    transform: translateX(-120%);
}

.toggle-active .togle_line:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
}

.header-main__list {
    align-items: center;
    background-color: #181719;
    flex-direction: column;
    font-family: Montserrat;
    height: 100vh;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    top: -5px;
    width: 100vw;
    z-index: 50;
    display: flex;
    position: absolute;
    transition: all .5s ease;
    left: -10px;
    transform: translateY(-100%);
}

.toggle-active .header-main__show {
    transform: translateY(0);
}

.header-main__item {
    margin: 15px;
}

.header-main__link {
    color: white;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.header-main__link-active {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

/*main content*/

.main-content {
    padding: 10px;
    position: relative;
    margin-bottom: 130px;
}

.arow {
    width: 100px;
    display: inline-block;
    height: 100px;
    box-sizing: border-box;
}

.main-section__paragraph {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.main-section__showmore {
    display: flex;
    align-items: center;
    justify-content: baseline;
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.arow {
    margin: 15px;
    height: 16px;
    font-size: larger;
}

.main-section__restaurantimg {
    margin: 0;
}

.main-section__createdby {
    bottom: -100px;
    background-color: #181719;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    right: 20px;
    width: calc(100vw - 90px);
    padding: 10px;
    padding-left: 20px;
}

.createdby-content {
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.createdby-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.createdby-name, .createdby-position {
    margin-left: 20px;
}

.createdby-name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 5px;
}

.createdby-position {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    margin-top: 0;
    color: #828282;
}

.main-section__footer {
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    width: 180px;
    color: #FFFFFF;
}

.main-footer {
    width: calc(100vw - 70px);
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

@media (min-width: 720px) {
    /* nav */
     .togle {
        display: none;
    }
    .header-main, .main-content{
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .header-main__list {
        flex-direction: row;
        height: 100px;
        top: -5px;
        transform: translateY(0);
        position: relative;
        width: 100%;
    }
    .header-main__item {
        margin: 15px;
    }
    /* main */
    .main-section {
        display: flex;
    }
    .main-section_box1 {}
    .main-section_box2 {
        position: relative;
    }
    .main-section__createdby {
        width: 320px;
        right: 10%;
    }
    .main-footer {
        position: fixed;
        bottom: 20px;
    }
    hr {
        display: none;
    }
}
